# Node.js dependencies
node_modules/

# Output directory from tsc
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
git commit -m "first commit"